<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GW2Kit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GW2KitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE034F4F1A3726CA001CD11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE034F5D1A37275B001CD11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7687361A364EC800D6D6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7687411A364EC800D6D6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
