<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GW2 Reports.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GW2Kit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A300BD41A437B1C002E745F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A300BDE1A437B1C002E745F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A94FC8F1A3B0AD50076F397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A94FCA41A3B0AD50076F397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A94FCB81A3B0EDB0076F397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A94FCCD1A3B0EDB0076F397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A94FCE11A3B10850076F397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A94FCF91A3B10850076F397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AE8C7341A436A8B0022B021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AE8C74C1A436A8B0022B021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE034F5D1A37275B001CD11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE7687361A364EC800D6D6BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
